{{#if user}}

<h5>Welcome Back {{user.username}}</h5>

<ul class="alt">

<li><a href="/{{type}}s/classes">My CLasses</a></li>
<li><a href="/users/logout">Logout</a></li>

</ul>
{{else}}
<h4>Students & Instructor Login</h4>
	<form  method="post" action="/users/login">
	<label>Username:</label>
	<br/>
	<input type="type" name="username">
	<br/>
    <label>Password:</label>
	<br/>
	<input type="password" name="password">
	<br/>
	<input type="submit"  class="button" value="Login">
	</form>
{{/if}}