<h3>Welcome to eLearn</h3>

<p>
eLearn is a Simple online Learning platform>Instructors can create course and students can 
register for cources which include assingments,quizes and support form
</p>
<a class="button" href="/users/signup">Sign Up Free</a>
<p>You need to registed for free classes</p>
</div>